*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 33);
    color: white;
    
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(lapscreen.png);
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav span{
    margin-top: 20px;
}
span a{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
span a:hover{
    font-size: 1.6rem;
}
span a{
    transition: 0.3s;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #505CA8;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.headerText{
    margin-left: 60px;
    margin-top: 200px;
    width: 50%;
    font-size: 3.0rem;
}
.headerText #element{
    color: #6776d8;
    font-size: 3rem;
    font-weight: 700;  
}
.headerText #element{
    transition-: 0.3s; 
}
.purpleHeading{
    font-weight: 600;
    color: #6776d8;
}
/*-------------------About----------------------*/
#about{
    margin-top: 30px;
    padding: 80px 0;
    color: #505CA8;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#about .colm1{
    flex-basis: 35%;
}
#about .colm1 img{
    width: 100%;
    border-radius: 15px;    
}
#about .colm2{
    flex-basis: 60%;
    color: white;
}
.subTitle{
    font-size: 35px;
    font-weight: 600;
    color: white;
}
.tabTitles{
    color: white;
    display: flex;
    margin: 20px 0 30px;
}
.tabLinks{
    margin-right: 50px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tabLinks::after{
    content: '';
    width: 0;
    height: 3px;
    background: #505CA8;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;   
}
.tabLinks.activeLink::after{
    width: 50%;
}
.tabContent ul li{
    list-style: none;
    margin: 10px 0;
}
.tabContent ul li span{
    color:#505CA8;
    font-size: 25px;
    font-weight: 600;
}
.tabContent{
    display: none;
}
.tabContent.activeTab{
    display: block;
}
/*-------------------Services----------------------*/

#services{
    padding: 30px 0;
}
.servicesList{
    display: flex;
    grid-template-columns: repeat(auto-fit(minmax(250px,1fr)));
    grid-gap: 40px;
    margin-top: 50px;
}
.servicesList div{
    background:#505CA8;
    padding: 40px;
    font-size:  13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.servicesList div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.servicesList div h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}
.servicesList div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.servicesList div:hover{
    background: rgb(0, 0, 119);
    transform: translateY(-15px);
}
/*-------------------work----------------------*/
.workList{
    display: flex;
    grid-template-columns: repeat(auto-fit(minmax(250px,1fr)));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(80, 92, 168,0.6),#000077);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a i{
    margin-top: 20px;
    color: #505CA8;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #505CA8;
    padding: 14px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.btn:hover{
    background: #505CA8;
}
/*-------------------Contact----------------------*/
.contactLeft{
    flex-basis: 35%;
}  
.contactRight{
    flex-basis: 60%;   
}
.contactLeft p{
    margin-top: 30px;
}
.contactLeft p i{
    color: #505CA8;
    margin-right: 15px;
    font-size: 25px;
}
.socialIcon{
    margin-top: 30px;
}
.socialIcon a {
    text-decoration: none;
    font-size: 30px;
    color: #505CA8;
    margin-right: 13px;
    display: inline-block;
    transition: transform 0.5s;
}
.socialIcon a:hover{
    color: white;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #505CA8;
}
.contactRight form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: rgb(80, 92, 168,0.5);
    color: white;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 10px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #505CA8;
    font-weight: 300;
    margin-top: 20px;
}

/*-------------------css for small screens----------------------*/
nav .fa-regular{
    display: none;
}
nav .fa-solid{
    display: none ;
}
@media only screen and (max-width : 800px){
    #header{
        background-image: url(ihonese.png);
        background-attachment: fixed;
    }
    .headerText{
        margin-top: 50px;
        margin-left: 10px;
        font-size: 25px;
    }
    .headerText h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
    }
    nav .fa-regular {
        display: block;
        font-size: 25px;
    }
    .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: #505CA8;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav ul .fa-regular{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .subTitle{
        font-size: 40px;
    }
    #about .colm1{
        flex-basis: 100%;
    }
    .colm1{
        margin-bottom: 30px;
    }
    .colm2{
        font-size: 20px;
    }
    .tabLinks{
        font-size: 16px;
        margin-right: 20px;
    }
    .contactLeft,.contactRight{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
    .headerText #element{
        font-size: 25px;
    }
    .servicesList{
        display: inline-block;
    }
    .servicesList div{
        margin-bottom: 30px;
    }
    .workList{
        display: inline-block;
    }
    .workList div{
        margin-bottom: 30px;
    }
    .layer p,a{
        font-size: 12px;
    }
}
#msg{
    color: greenyellow;
    margin-top: -40px;
    display: block;
}